name: Project Setup and Github Pages deploy

on:
  push:
    branches: [main]

jobs:
  build:
    runs: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: setup nodejs
        uses: actions/setup-node@v2
        with: node-version 19

      - name: Install Dependencies
        run: npm install

      - name: Build Project
        run: npm run build

      - name: Run Test
        run: npm test

      - name: Deploy On Github Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dist




